<!-- navbar -->

<nav class="navbar bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-light">
            <i class="fa-solid fa-building-columns me-2"></i>Swasti Bank
        </a>
    </div>
</nav>

<!-- title -->

<h3 class="text-center mt-3 text-success">Mini statements</h3>

<!-- dummy data-->
<div class="container-fluid mt-3">
    <p style="text-align: justify;">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae nisi, omnis ullam eligendi fuga, autem voluptates veritatis accusantium non velit alias porro, rem voluptas ut dolores enim vero. Expedita, excepturi?
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero assumenda tempore corrupti numquam hic, corporis molestiae animi odit incidunt a, labore soluta. Hic commodi possimus nam. Eum autem sed vitae.</p>
</div>


<!-- transaction design -->
<div class="container-fluid mt-3">
    <div class="border p-2 mt-4 w-100" style="background-color: rgb(225, 234, 238);" >
        <div class="d-flex">
            <h5 class="me-5 text-success fw-bolder">Transaction History</h5>
            <label for="tType" class="fw-bolder border p-2 ms-5" style="background-color: rgb(181, 188, 190);" for="Search">Search By</label>
            <input class="ms-2 me-5 w-50" [(ngModel)]="searchTerm" type="text" name="Search" placeholder="Search By transaction Type...">
            <button (click)="generatePDF()" class="btn btn-success ms-5 text-center">Export</button>
        </div>
        </div>
    <div class="container p-3 mt-4">
        <div class="row">
            <!-- table -->
            <table class="table border text-center mt-5">
                <thead>
                    <tr>
                        <th>No:</th>
                        <th>Transaction Type:</th>
                        <th>From Acno</th>
                        <th>To Acno</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let transaction of transactions | search:searchTerm :'type' ;let i=index">
                        <th>{{i+1}}</th>
                        <th>{{transaction.type}}</th>
                        <th>{{transaction.fromAcno}}</th>
                        <th>{{transaction.toAcno}}</th>
                        <th>{{transaction.amount}}</th>
                    </tr>


                </tbody>
            </table>
        </div>
        
    </div >
</div>